.card {
  border-radius: 12px; /* from ExpenseItem.css - Schwarzmüller just remove them */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); /* from ExpenseItem.css - Schwarzmüller just remove them */

  border-radius: 12px; /* from Expenses.css */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); /* from Expenses.css */
}
